<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.favicon - Riggen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
<!-- Sidebar -->

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a id="menu-toggle" href="#" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			</a>
		</div>
		<div id="sidebar-wrapper" class="sidebar-toggle">
			<ul class="sidebar-nav">
                <li>
                    <a class="navbar-brand" href="~/Home/Index">
                        <img src="http://s33.postimg.org/9ysce551r/logga.png" id="thumbnail" alt="Riggen" />
                    </a>
                    <br>
                    <br />
                    <br />
                </li>
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
		    	<li>
		      		@Html.ActionLink("Bilder", "Index", "Upload")
		    	</li>
		    	<li>
                    <a href="#">Nyheter</a>
		    	</li>
		    	<li>
                    <a href="#">Resultat</a>
		    	</li>
                <li>
                    @Html.ActionLink("Om oss", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Kontakt", "Contact", "Home")

                </li>
                <li>
                    <a href="http://www.olzzon.com/g/g.php?a=s&i=g21-07758-29">Forum</a>
                </li>
		  	</ul>
		</div>
  	</div>
</nav>

    @*Sökfunktion
    <input type="search" id="searchbar" name="search" placeholder="Sök...">*@

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p id="copy">&copy; @DateTime.Now.Year - Riggen</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
